<?output "../epub/index.html"?>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<?include "head.html" copy ?>
  <body>
    <div id="wisdom">
      <h2>Index</h2>
<?nextrec?>
<?definegroup 1 "=$category$=" ?>
<?ifendgroup 1 ?>
</p>
<?ifnewgroup 1 ?>
<p class="index-entry"><i>=$category$=</i>: 
<?endif?>
<br /><a href="w=$itemid&r4$=.html">=$title$=</a>
<?loop?>
    </div> <!-- end wisdom -->
  </body>
</html>
