<?nextrec?>
<?output "../epub/w=$itemid&r4$=.html"?>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<?include "head.html" copy ?>
  <body>
    <div id="wisdom">
      <p><i>=$category$=</i></p>
      <h2>=$title$=</h2>
      <blockquote>
        =$body$=
      </blockquote>
      <p class="byline">
        &mdash; 
          <span class="authors">
              =$author$=
          </span>
      </p>
<?if "=$authorinfo$=" ?>
    <p>=$authorinfo$=</p>
<?endif?>
    <p>Author links: 
<?if "=$authorlink$=" ?>
      <a href="=$authorlink$=">Author's Site</a>,  
<?endif?>
      <a href="http://en.wikipedia.org/wiki/=$authorwikimediapage$=">Wikipedia</a>,  
      <a href="http://en.wikiquote.org/wiki/=$authorwikimediapage$=">Wikiquote</a>
    </p>
<?if "=$sourceline$=" ?>        
      <p class="sourceline">
        From =$sourceline$= 
      </p>
<?endif?>
<?if "=$rightsline$=" ?>        
      <p class="rightsline">
        =$rightsline$= 
      </p>
<?endif?>
      <p class="itemidline">
        No. 
        <span class="itemid">
          =$itemid$=
        </span>
      </p>
    </div> <!-- end wisdom -->
  </body>
</html>
<?loop?>