* {
	display: block;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	line-height: 1.6em;
	color: #fff;
	background-color: #6463ae; 
	text-align: left;
	font-size: 1.0em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	}
	
wisdom {
	margin-left: 1.0em;
	margin-right: 1.0em;
}
	
wisdom > title {
  font-size: 1.8em;
  line-height: 3.0em;
  text-align: center;
}

category { 
  font-style: italic; 
  margin-top: 0.5em;
}

body {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  margin-right: 0em;
}

author
{
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
}

source {
  margin-top: 1.8em;
}

source > title {
  margin-top: 1.8em;
  font-style: italic;
}

source > subtitle {
  font-style: italic;
}

copyright {
  margin-top: 1.8em;
}

copyright > year {
  display: inline;
}

copyright > owner {
  display: inline;
}