<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Authors</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Authors</h1>
      </div>
      <div id="list">
        <ul>
           <li><a href="eric_abrahamson_and_david_h_freeman.html">
             Eric <strong>Abrahamson</strong> and David H. <strong>Freeman</strong></a></li>
           <li><a href="ansel_adams.html">
             Ansel <strong>Adams</strong></a></li>
           <li><a href="douglas_adams.html">
             Douglas <strong>Adams</strong></a></li>
           <li><a href="margery_allingham.html">
             Margery <strong>Allingham</strong></a></li>
           <li><a href="chris_argyris_and_donald_schn.html">
             Chris <strong>Argyris</strong> and Donald <strong>Schön</strong></a></li>
           <li><a href="aristotle.html">
             <strong>Aristotle</strong></a></li>
           <li><a href="angeles_arrien.html">
             Angeles <strong>Arrien</strong></a></li>
           <li><a href="rob_austin_and_lee_devin.html">
             Rob <strong>Austin</strong> and Lee <strong>Devin</strong></a></li>
           <li><a href="robert_d_austin.html">
             Robert D. <strong>Austin</strong></a></li>
           <li><a href="joseph_l_badaracco_jr.html">
             Joseph L. <strong>Badaracco, Jr.</strong></a></li>
           <li><a href="don_beck_and_chris_cowan.html">
             Don <strong>Beck</strong> and Chris <strong>Cowan</strong></a></li>
           <li><a href="scott_berkun.html">
             Scott <strong>Berkun</strong></a></li>
           <li><a href="isaiah_berlin.html">
             Isaiah <strong>Berlin</strong></a></li>
           <li><a href="yogi_berra.html">
             Yogi <strong>Berra</strong></a></li>
           <li><a href="william_blake.html">
             William <strong>Blake</strong></a></li>
           <li><a href="derek_bok.html">
             Derek <strong>Bok</strong></a></li>
           <li><a href="nathaniel_s_borenstein.html">
             Nathaniel S. <strong>Borenstein</strong></a></li>
           <li><a href="joe_boyd.html">
             Joe <strong>Boyd</strong></a></li>
           <li><a href="george_brackett.html">
             George <strong>Brackett</strong></a></li>
           <li><a href="wernher_von_braun.html">
             Wernher Von <strong>Braun</strong></a></li>
           <li><a href="bertolt_brecht.html">
             Bertolt <strong>Brecht</strong></a></li>
           <li><a href="fred_brooks.html">
             Fred <strong>Brooks</strong></a></li>
           <li><a href="william_j_brown_hays_w_mccormick_iii_and_scott_w_thomas.html">
             William J. <strong>Brown</strong>, Hays W. <strong>McCormick III</strong> and Scott W. <strong>Thomas</strong></a></li>
           <li><a href="william_jennings_bryan.html">
             William Jennings <strong>Bryan</strong></a></li>
           <li><a href="marcus_buckingham_and_curt_coffman.html">
             Marcus <strong>Buckingham</strong> and Curt <strong>Coffman</strong></a></li>
           <li><a href="albert_camus.html">
             Albert <strong>Camus</strong></a></li>
           <li><a href="michael_chabon.html">
             Michael <strong>Chabon</strong></a></li>
           <li><a href="raymond_chandler.html">
             Raymond <strong>Chandler</strong></a></li>
           <li><a href="winston_churchill.html">
             Winston <strong>Churchill</strong></a></li>
           <li><a href="alistair_cockburn.html">
             Alistair <strong>Cockburn</strong></a></li>
           <li><a href="larry_constantine_and_lucy_lockwood.html">
             Larry <strong>Constantine</strong> and Lucy <strong>Lockwood</strong></a></li>
           <li><a href="alan_m_davis.html">
             Alan M. <strong>Davis</strong></a></li>
           <li><a href="richard_dawkins.html">
             Richard <strong>Dawkins</strong></a></li>
           <li><a href="tom_demarco_and_timothy_lister.html">
             Tom <strong>DeMarco</strong> and Timothy <strong>Lister</strong></a></li>
           <li><a href="demarco_tom_hruschka_peter_lister_tim_mcmenamin_steve_robertson_james_and_suzanne_robertson.html">
             <strong>DeMarco</strong>, <strong>Tom</strong>, <strong>Hruschka</strong>, <strong>Peter</strong>, <strong>Lister</strong>, <strong>Tim</strong>, <strong>McMenamin</strong>, <strong>Steve</strong>, <strong>Robertson</strong>, <strong>James</strong> and Suzanne <strong>Robertson</strong></a></li>
           <li><a href="tom_demarco_peter_hruschka_tim_lister_steve_mcmenamin_james_robertson_and_suzanne_robertson.html">
             Tom <strong>DeMarco</strong>, Peter <strong>Hruschka</strong>, Tim <strong>Lister</strong>, Steve <strong>McMenamin</strong>, James <strong>Robertson</strong> and Suzanne <strong>Robertson</strong></a></li>
           <li><a href="ken_dymond.html">
             Ken <strong>Dymond</strong></a></li>
           <li><a href="albert_einstein.html">
             Albert <strong>Einstein</strong></a></li>
           <li><a href="ralph_waldo_emerson.html">
             Ralph Waldo <strong>Emerson</strong></a></li>
           <li><a href="f_scott_fitzgerald.html">
             F. Scott <strong>Fitzgerald</strong></a></li>
           <li><a href="henry_ford.html">
             Henry <strong>Ford</strong></a></li>
           <li><a href="e_m_forster.html">
             E. M. <strong>Forster</strong></a></li>
           <li><a href="benjamin_franklin.html">
             Benjamin <strong>Franklin</strong></a></li>
           <li><a href="john_kenneth_galbraith.html">
             John Kenneth <strong>Galbraith</strong></a></li>
           <li><a href="tom_gilb.html">
             Tom <strong>Gilb</strong></a></li>
           <li><a href="robert_l_glass.html">
             Robert L. <strong>Glass</strong></a></li>
           <li><a href="john_guillebaud.html">
             John <strong>Guillebaud</strong></a></li>
           <li><a href="dashiell_hammett.html">
             Dashiell <strong>Hammett</strong></a></li>
           <li><a href="sydney_harris.html">
             Sydney <strong>Harris</strong></a></li>
           <li><a href="paul_heckel.html">
             Paul <strong>Heckel</strong></a></li>
           <li><a href="jim_highsmith.html">
             Jim <strong>Highsmith</strong></a></li>
           <li><a href="watts_humphrey.html">
             Watts <strong>Humphrey</strong></a></li>
           <li><a href="michael_innes.html">
             Michael <strong>Innes</strong></a></li>
           <li><a href="thomas_jefferson.html">
             Thomas <strong>Jefferson</strong></a></li>
           <li><a href="scott_jenson.html">
             Scott <strong>Jenson</strong></a></li>
           <li><a href="steve_jobs.html">
             Steve <strong>Jobs</strong></a></li>
           <li><a href="alan_kay.html">
             Alan <strong>Kay</strong></a></li>
           <li><a href="beverly_kaye_and_sharon_jordanevans.html">
             Beverly <strong>Kaye</strong> and Sharon <strong>Jordan-Evans</strong></a></li>
           <li><a href="eamonn_kelly.html">
             Eamonn <strong>Kelly</strong></a></li>
           <li><a href="john_f_kennedy.html">
             John F. <strong>Kennedy</strong></a></li>
           <li><a href="martin_luther_king_jr.html">
             Martin Luther <strong>King Jr.</strong></a></li>
           <li><a href="donald_knuth.html">
             Donald <strong>Knuth</strong></a></li>
           <li><a href="benjamin_l_kovitz.html">
             Benjamin L. <strong>Kovitz</strong></a></li>
           <li><a href="bob_lewis.html">
             Bob <strong>Lewis</strong></a></li>
           <li><a href="peter_van_der_linden.html">
             Peter van der <strong>Linden</strong></a></li>
           <li><a href="steve_lohr.html">
             Steve <strong>Lohr</strong></a></li>
           <li><a href="michael_lopp.html">
             Michael <strong>Lopp</strong></a></li>
           <li><a href="wynton_marsalis.html">
             Wynton <strong>Marsalis</strong></a></li>
           <li><a href="groucho_marx.html">
             Groucho <strong>Marx</strong></a></li>
           <li><a href="margaret_mead.html">
             Margaret <strong>Mead</strong></a></li>
           <li><a href="h_l_mencken.html">
             H. L. <strong>Mencken</strong></a></li>
           <li><a href="john_stuart_mill.html">
             John Stuart <strong>Mill</strong></a></li>
           <li><a href="henry_miller.html">
             Henry <strong>Miller</strong></a></li>
           <li><a href="henry_mintzberg.html">
             Henry <strong>Mintzberg</strong></a></li>
           <li><a href="james_m_morgan_and_jeffrey_k_liker.html">
             James M. <strong>Morgan</strong> and Jeffrey K. <strong>Liker</strong></a></li>
           <li><a href="gilbert_murray.html">
             Gilbert <strong>Murray</strong></a></li>
           <li><a href="jakob_nielsen.html">
             Jakob <strong>Nielsen</strong></a></li>
           <li><a href="barack_obama.html">
             Barack <strong>Obama</strong></a></li>
           <li><a href="ray_oldenburg.html">
             Ray <strong>Oldenburg</strong></a></li>
           <li><a href="tom_peters_and_robert_h_waterman_jr.html">
             Tom <strong>Peters</strong> and Robert H. <strong>Waterman Jr.</strong></a></li>
           <li><a href="mary_poppendieck_and_tom_poppendieck.html">
             Mary <strong>Poppendieck</strong> and Tom <strong>Poppendieck</strong></a></li>
           <li><a href="jon_postel.html">
             Jon <strong>Postel</strong></a></li>
           <li><a href="eric_s_raymond.html">
             Eric S. <strong>Raymond</strong></a></li>
           <li><a href="tom_robbins.html">
             Tom <strong>Robbins</strong></a></li>
           <li><a href="suzanne_robertson_and_james_robertson.html">
             Suzanne <strong>Robertson</strong> and James <strong>Robertson</strong></a></li>
           <li><a href="bertrand_russell.html">
             Bertrand <strong>Russell</strong></a></li>
           <li><a href="carl_sagan_and_ann_druyan.html">
             Carl <strong>Sagan</strong> and Ann <strong>Druyan</strong></a></li>
           <li><a href="george_santayana.html">
             George <strong>Santayana</strong></a></li>
           <li><a href="albert_schweitzer.html">
             Albert <strong>Schweitzer</strong></a></li>
           <li><a href="peter_senge.html">
             Peter <strong>Senge</strong></a></li>
           <li><a href="george_bernard_shaw.html">
             George Bernard <strong>Shaw</strong></a></li>
           <li><a href="baruch_spinoza.html">
             Baruch <strong>Spinoza</strong></a></li>
           <li><a href="joel_spolsky.html">
             Joel <strong>Spolsky</strong></a></li>
           <li><a href="bruce_springsteen.html">
             Bruce <strong>Springsteen</strong></a></li>
           <li><a href="dennis_stauffer.html">
             Dennis <strong>Stauffer</strong></a></li>
           <li><a href="matthew_stewart.html">
             Matthew <strong>Stewart</strong></a></li>
           <li><a href="bruce_tognazzini.html">
             Bruce <strong>Tognazzini</strong></a></li>
           <li><a href="robert_townsend.html">
             Robert <strong>Townsend</strong></a></li>
           <li><a href="mark_twain.html">
             Mark <strong>Twain</strong></a></li>
           <li><a href="john_updike.html">
             John <strong>Updike</strong></a></li>
           <li><a href="thomas_j_watson_jr.html">
             Thomas J. <strong>Watson, Jr</strong></a></li>
           <li><a href="gerald_weinberg.html">
             Gerald <strong>Weinberg</strong></a></li>
           <li><a href="alfred_north_whitehead.html">
             Alfred North <strong>Whitehead</strong></a></li>
           <li><a href="walt_whitman.html">
             Walt <strong>Whitman</strong></a></li>
           <li><a href="ken_wilber.html">
             Ken <strong>Wilber</strong></a></li>
           <li><a href="tom_wolfe.html">
             Tom <strong>Wolfe</strong></a></li>
           <li><a href="jim_womack.html">
             Jim <strong>Womack</strong></a></li>
           <li><a href="frank_lloyd_wright.html">
             Frank Lloyd <strong>Wright</strong></a></li>
           <li><a href="edward_yourdon.html">
             Edward <strong>Yourdon</strong></a></li>
        </ul>
      </div> <!-- end list -->
    </div> <!-- end container -->
  </body>
</html>
