<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Joe Boyd</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Joe Boyd</h1>
      </div>
      <div id="list">
        <ul>
           <li><a href="../wisdom/w0163.html">
             A Sailor’s Life</a></li>
           <li><a href="../wisdom/w0156.html">
             Chaos and Mediocrity</a></li>
           <li><a href="../wisdom/w0164.html">
             Counter-Culture’s own values and aesthetics decayed</a></li>
           <li><a href="../wisdom/w0165.html">
             Dylan at Newport in 1965</a></li>
           <li><a href="../wisdom/w0157.html">
             History as Postmodern Collage</a></li>
           <li><a href="../wisdom/w0167.html">
             Little I recognized as music</a></li>
           <li><a href="../wisdom/w0158.html">
             Never Knew Cocaine to Improve Anything</a></li>
           <li><a href="../wisdom/w0162.html">
             Records we made together in the sixties</a></li>
           <li><a href="../wisdom/w0159.html">
             Sixties Surpluses of Money and Time</a></li>
           <li><a href="../wisdom/w0166.html">
             South-East London adaption of the Excello style</a></li>
           <li><a href="../wisdom/w0161.html">
             Tiny Dead Recording Spaces</a></li>
           <li><a href="../wisdom/w0160.html">
             Two-Inch Sixteen-Track Recording</a></li>
        </ul>
      </div> <!-- end list -->
    </div> <!-- end container -->
  </body>
</html>
