<?output "nav.html"?>
<?nextrec?>
      <div id="navlinks">
        <div>
          <ul>
            <li><a href="../index.html" title="Home">Home</a></li>
            <li><a href="../about.html" title="About">About</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
               <a href="javascript:randomQuote();" title="Random">Random</a>
            </li>
            <li>
               <a href="javascript:nextQuote();" title="Next">Next</a>
            </li>
            <li>
               <a href="javascript:priorQuote();" title="Prior">Prior</a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
               <a href="../authors/index.html" title="Authors">Authors</a>
            </li>
            <li>
               <a href="../tags/index.html" title="Categories">Categories</a>
            </li>
            <li>
               <a href="../wisdom/search.html" title="Search">Search</a>
            </li>
          </ul>
          <ul>
            <li>
               <a href="../data/authors.xml" title="XML">XML</a>
            </li>
            <li>
              <a href="../rss.xml" title="RSS 2.0">
                <img src="../images/icon_rss.gif" alt="RSS 2.0" width="36" height="14" />
              </a>
            </li>
          </ul>
        </div>
      </div>
<?loop?>
    