<?output "../wisdom/search.html"?>
<?nextrec?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<?include "head.html" copy ?>
  <body>
    <div id="container">
      <div id="header">
        <h1>Search</h1>
      </div>
<?include "nav.html" copy ?>
      <div id="content">
        <!-- SiteSearch Google -->
        <div id="search">
          <form method=GET action="http://www.google.com/search">
            <input type=hidden name=ie value=UTF-8>
            <input type=hidden name=oe value=UTF-8>
            <table><tr><td>
            </td>
            <td>
            <input TYPE=text name=q size=42 maxlength=255 value="">
            <input type=submit name=btnG VALUE="Google Search">
            <input type=hidden name=domains value="PortableWisdom.org"><br />
            <input type=radio name=sitesearch value=""> WWW <br />
            <input type=radio name=sitesearch value="=$title$=" checked> =$title$= <br />
            </td></tr></table>
          </form>
        </div>
        <!-- SiteSearch Google -->
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
<?loop?>