<?nextrec?>
<?output "../wisdom/w=$itemid&r4$=.html"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>=$title$=</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
          <li><a href="../tags/index.html">
            Tags
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>=$title$=</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            =$body$=
          </blockquote>
          <p class="byline">
            &mdash; 
              <span class="authors">
                <a href="../authors/=$authorfilename$=.html">
                  =$author$=
                </a>
              </span>
          </p>
<?if "=$sourceline$=" ?>        
          <p class="sourceline">
            From =$sourceline$= 
          </p>
<?endif?>
<?if "=$rightsline$=" ?>        
          <p class="rightsline">
            =$rightsline$= 
          </p>
<?endif?>
<?if "=$linkedtags$=" ?> 
          <p class="tagsline">
            Tags: <i>=$linkedtags$=</i>
          </p>
<?endif?>
          <p class="itemidline">
            No. 
            <span class="itemid">
              =$itemid$=
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
<?loop?>