<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Difficulty of Requirements Discovery</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Difficulty of Requirements Discovery</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Requirements are hard to understand and harder to specify. The wrong solution to this problem is to do a slipshod job of requirements specification, and rush ahead to design and code.... The right solution is to do whatever it takes to learn as many of the requirements as possible <i>now</i>. Do prototyping. Talk with more customers. Work for a month with a customer to get to know his or her job firsthand. Collect data. Do whatever it takes. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/alan_m_davis.html">
                  Alan M. Davis
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>201 Principles of Software Development</cite>, <span class='datepublished'>1995</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0070158401/portablewisdo-20' class='isbn'>0070158401</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1995</span> by <span class='rightsowner'>McGraw-Hill, Inc.</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/software_development-requirements' rel='tag'>Software Development.Requirements</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              1
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
