<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Solution Reuse</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Solution Reuse</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> The following is an exhaustive list of<i>all</i> problem-solving techniques, arranged in order of decreasing effectiveness: </p> <p> 1. Already knowing the solution; </p> <p> 2. Already knowing the solution to a similar problem; </p> <p> 3. All other techniques. </p> <p> The third &#8212; enormous &#8212; category lumps functional decomposition together with whacks on the side of the head, thinking outside the box, and all the others because, compared to the first two techniques, they are nearly worthless. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/benjamin_l_kovitz.html">
                  Benjamin L. Kovitz
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Practical Software Requirements: A Manual of Content and Style</cite>, <span class='datepublished'>1999</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/1884777597/portablewisdo-20' class='isbn'>1884777597</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1999</span> by <span class='rightsowner'>Manning Publications Co.</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/problem_solving' rel='tag'>Problem Solving</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              15
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
