<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Good Mission Statements</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Good Mission Statements</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Good missions, and Mission Statements, exclude alternatives. Useless ones try to express everything you might ever want to do. </p> <p> We develop or install high-quality software&#8221;, has no place in a Mission Statement, for example, because what other choice might you have expressed? The alternatives: </p> <ul> <li> &#8220;We develop or install mediocre software.&#8221; </li> <li> &#8220;We develop or install awful software.&#8221; </li> <li> &#8220;We refuse to develop or install any kind of software.&#8221; </li> <li> &#8220;We'd really like to develop and install software, only we've forgotten how.&#8221; </li> </ul> <p> All are non-starters. Because the only statement you can make about software is that it will be high quality, don't waste the paper and toner. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/bob_lewis.html">
                  Bob Lewis
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>IS Survival Guide</cite>, <span class='datepublished'>1999</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0672314371/portablewisdo-20' class='isbn'>0672314371</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1999</span> by <span class='rightsowner'>Sams Publishing</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/business' rel='tag'>Business</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              21
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
