<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Chimps and Humans</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Chimps and Humans</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> On the basis of all the evidence, the closest relative of the human proves to be the chimp. The closest relative of the chimp is the human. Not orangs, but people. Us. Chimps and humans are nearer kin than are chimps and gorillas or any other kinds of ape not of the same species. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/carl_sagan_and_ann_druyan.html">
                  Carl Sagan and Ann Druyan
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Shadows of Forgotten Ancestors: A Search for Who We Are</cite>, <span class='datepublished'>1993</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0345384725/portablewisdo-20' class='isbn'>0345384725</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1993</span> by <span class='rightsowner'>Carl Sagan and Ann Druyan</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/evolution' rel='tag'>Evolution</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              23
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
