<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>The Rainbow Bridge</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>The Rainbow Bridge</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Mature as he was, she might yet be able to help him to the building of the rainbow bridge that should connect the prose in us with the passion. Without it we are meaningless fragments, half monks, half beasts, unconnected arches that have never joined into a man. With it love is born, and alights on the highest curve, glowing against the gray, sober against the fire. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/e_m_forster.html">
                  E. M. Forster
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Howard”s End</cite>, <span class='datepublished'>1910</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0486424545/portablewisdo-20' class='isbn'>0486424545</a>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/wholeness' rel='tag'>Wholeness</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              30
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
