<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Elimination of Programmers</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Elimination of Programmers</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Over the years, executives have backed their desire to eliminate programmers with staggering funds. Dozens of simplistic schemes have been heaped with money and praise on the promise &#8212; as yet not kept &#8212; of going directly from a sales proposal to a working data-processing system. Their touching faith in the magic of technology should serve as inspiration to those of us who daily bend our backs to the programmer's burden. Perhaps their wishes &#8212; though they can surely never be fulfilled &#8212; should give us pause &#8212; make us lift our noses from the coding pad or the terminal &#8212; and consider this human activity of ours from a human point of view. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/gerald_weinberg.html">
                  Gerald Weinberg
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>The Psychology of Computer Programming</cite>, <span class='datepublished'>1971</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0932633420/portablewisdo-20' class='isbn'>0932633420</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1971</span> by <span class='rightsowner'>Litton Educational Publishing, Inc.</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/software_development' rel='tag'>Software Development</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              37
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
