<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Management Intuition</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Management Intuition</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> One fact recurs repeatedly in all of this research: the key managerial processes are enormously complex and mysterious..., drawing on the vaguest of information and using the least articulated of mental processes. These processes seem to be more relational and holistic than ordered and sequential, and more intuitive than intellectual; they seem to be most characteristic of right-hemispheric activity. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/henry_mintzberg.html">
                  Henry Mintzberg
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>In Search of Excellence: Lessons from America”s Best-Run Companies</cite>, <span class='datepublished'>1976</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0446385077/portablewisdo-20' class='isbn'>0446385077</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1976</span> by <span class='rightsowner'>Thomas J. Peters and Robert H. Waterman, Jr.</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/management' rel='tag'>Management</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              42
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
