<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Everybody has some important pieces of the truth</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Everybody has some important pieces of the truth</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> My work is an attempt to make room in the Kosmos for all of the dimensions, levels, domains, waves, memes, modes, individuals, cultures, and so on ad infinitum. I have one major rule: Everybody is right. More specifically, everybody — including me — has some important pieces of truth, and all of those pieces need to be honored, cherished, and included in a more gracious, spacious, and compassionate embrace. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/ken_wilber.html">
                  Ken Wilber
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Collected Works of Ken Wilber, Volume 8</cite>, <cite class='minortitle'>&#8220;Introduction&#8221;</cite>, <span class='datepublished'>2000</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/1590303261/portablewisdo-20' class='isbn'>1590303261</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2000</span> by <span class='rightsowner'>Ken Wilber</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/truth' rel='tag'>Truth</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              59
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
