<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>The Beautiful, the Good and the True</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>The Beautiful, the Good and the True</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> If you are talking to me about your new car, you are the first person, I am the second person, and the car is the third person. These pronouns actually represent three perspectives that human beings can take when they talk about the world or attempt to know the world.... The fascinating part is that these three perspectives might actually give rise to art, morals, and science. Or the Beautiful, the Good, and the True: the Beauty that is in the eye (or the I) of the beholder; the Good or moral actions that can exist between you and me as a we; and the objective Truth about third-person objects (or its) that you and I might discover: hence, art (I), morals (we), and science (it). </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/ken_wilber.html">
                  Ken Wilber
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Web Page</span> <cite class='majortitle'>Beliefnet</cite>, <cite class='minortitle'>&#8220;Why Do Religions Teach Love and Yet Cause So Much War?&#8221;</cite>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/truth' rel='tag'>Truth</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              58
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
