<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>The Power of Thought</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>The Power of Thought</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> First, he writes down the question on a blackboard or a yellow pad of paper. </p> <p> Next, he thinks real hard.... </p> <p> Then, he writes down the answer. </p> <p> One Nobel Prize winner describing the process another, Richard Feynman, used to solve the most difficult scientific problems </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/ken_dymond.html">
                  Ken Dymond
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>A Guide to the CMM: Understanding the Capability Maturity Model for Software</cite>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0964600803/portablewisdo-20' class='isbn'>0964600803</a>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/problem_solving' rel='tag'>Problem Solving</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              54
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
