<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Climate Changers</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Climate Changers</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> We urgently need to stabilise and reduce human numbers. There is no way that a population of nine billion &#8212; the UN's medium forecast for 2050 &#8212; can meet its energy needs without unacceptable damage to the planet and a great deal of human misery. We need to think about climate changers &#8212; human beings and their numbers &#8212; as well as climate change. It is the elephant in the room that nobody wants to talk about. Unless we reduce the human population humanely through family planning, nature will do it for us through violence, epidemics or starvation. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/john_guillebaud.html">
                  John Guillebaud
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Article</span> <cite class='majortitle'>The Independent</cite>, <cite class='minortitle'>&#8220;Overpopulation “is main threat to planet”&#8221;</cite>, <span class='datepublished'>2006</span>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2006</span> by <span class='rightsowner'>Independent News and Media Limited</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/population_explosion' rel='tag'>Population Explosion</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              50
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
