<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Changing the World</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Changing the World</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Never doubt that a small, group of thoughtful, committed citizens can change the world. Indeed, it is the only thing that ever has. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/margaret_mead.html">
                  Margaret Mead
                </a>
              </span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/progress' rel='tag'>Progress</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              65
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
