<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Merely a Muddle</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Merely a Muddle</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> And your remarks on the text,&#8221; Mr. Gott declared, &#8220;are merely a muddle. </p> <p> Yes, Gott,&#8221; said Mike meekly. </p> <p> You see, Mike, you haven't any <i>brain</i> really. </p> <p> No, of course not,&#8221; said Mike. </p> <p> You must just keep to the cackle and write nicely. You write very nicely. </p> <p> Yes,&#8221; said Mike, dubiously. </p> <p> Keep off thinking things out, and you'll do well. In fact, you'll go far. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/michael_innes.html">
                  Michael Innes
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>The Seven Suspects</cite>, <span class='datepublished'>1936</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0140068864/portablewisdo-20' class='isbn'>0140068864</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1936</span> by <span class='rightsowner'>John Innes Mackintosh Stewart</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/thought' rel='tag'>Thought</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              75
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
