<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Freedom of Expression in Business</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Freedom of Expression in Business</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> ...note that this implicit recognition of the right-side traits by the excellent companies is directly at the expense of more traditional left-brain business practices: causes to fight for are a long way from thirty quarterly MBO objectives. The intimate team or small division ignores scale economies. Allowing freedom of expression by thousands of quality circles flies in the face of the &#8216;one best way&#8217; of traditional production organization. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/tom_peters_and_robert_h_waterman_jr.html">
                  Tom Peters and Robert H. Waterman Jr.
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>In Search of Excellence: Lessons from America”s Best-Run Companies</cite>, <span class='datepublished'>1976</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0446385077/portablewisdo-20' class='isbn'>0446385077</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1976</span> by <span class='rightsowner'>Thomas J. Peters and Robert H. Waterman, Jr.</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/business' rel='tag'>Business</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              96
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
