<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Software more than Code</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Software more than Code</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Briefly: software must be conceived of as something far broader than program code. It must at least include all design specifications, user documentation, data, test cases, codes and human interfaces. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/tom_gilb.html">
                  Tom Gilb
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Principles of Software Engineering Management</cite>, <span class='datepublished'>1988</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0201192462/portablewisdo-20' class='isbn'>0201192462</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1988</span> by <span class='rightsowner'>Tom Gilb and Susannah Finzi.</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/software_development' rel='tag'>Software Development</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              95
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
