<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>The Four-Fold Way</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>The Four-Fold Way</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> The following four principles, each based on an archetype, comprise what I call the Four-Fold Way: </p> <p> 1. <i>Show up, or choose to be present.</i> Being present allows us to access the human resources of power, presence, and communication. This is the way of the Warrior. </p> <p> 2. <i>Pay attention to what has heart and meaning.</i> Paying attention opens us to the human resources of love, gratitude, acknowledgment, and validation. This is the way of the Healer. </p> <p> 3. <i>Tell the truth without blame or judgment.</i> Nonjudgmental truthfulness maintains our authenticity, and develops our inner vision and intuition. This is the way of the Visionary. </p> <p> 4. <i>Be open to outcome, not attached to outcome.</i> Openness and nonattachment help us to recover the humann resources of wisdom and objectivity. This is the way of the Teacher. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/angeles_arrien.html">
                  Angeles Arrien
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>The Four-Fold Way</cite>, <span class='datepublished'>1993</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0062500597/portablewisdo-20' class='isbn'>0062500597</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1993</span> by <span class='rightsowner'>Angeles Arrien</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/wholeness' rel='tag'>Wholeness</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              113
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
