<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>User Interfaces Don't Exist</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>User Interfaces Don't Exist</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> In talking about Simplicity to others, I've found the standard definition of what a user interface is no longer works. We are trapped by the current definition. In fact, I've finally come to the conclusion that user interfaces don't exist. Or, at least, they don't exist in the same way we talk about them. The term <em>user interface</em> implies a single object, a bit of code, which represents everything the user can do with a product. This is misleading and dangerous, because it limits your thinking, analysis and planning about how to design a commercial product. </p> <p> We need a richer set of words to enable us greater explorations of problems and solutions. I suggest three separate layers ultimately compose the entire user experience: The Presentation layer, the Task layer, and the Infrastructure layer. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/scott_jenson.html">
                  Scott Jenson
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>The Simplicity Shift: Innovative Design Tactics in a Corporate World</cite>, <span class='city'>Cambridge, United Kingdom</span>: <span class='publisher'>Cambridge University Press</span>, <span class='datepublished'>2002</span>, page&nbsp;<span class='pages'>27</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/052152749X/portablewisdo-20' class='isbn'>052152749X</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2002</span> by <span class='rightsowner'>Scott Jenson</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/design' rel='tag'>Design</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              139
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
