<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>We must respect the other fellow's religion</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>We must respect the other fellow's religion</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> We must respect the other fellow's religion, but only in the sense and to the extent that we respect his theory that his wife is beautiful and his children smart. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/h_l_mencken.html">
                  H. L. Mencken
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Minority Report : H.L. Mencken”s Notebooks</cite>, <span class='publisher'>The Johns Hopkins University Press</span>, <span class='datepublished'>1956</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0801856582/portablewisdo-20' class='isbn'>0801856582</a>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/religion' rel='tag'>Religion</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              130
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
