<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>All the world's cultures now available to us</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>All the world's cultures now available to us</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> During the last 30 years, we have witnessed a historical first: all of the world's cultures are now available to us. </p> <p> ...for the first time, the sum total of human knowledge is available to us&#8212;the knowledge, experience, wisdom and reflection of all major human civilizations&#8212;premodern, modern and postmodern&#8212;are open to study by anyone. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/ken_wilber.html">
                  Ken Wilber
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>the integral vision</cite>, <span class='city'>Boston & London</span>: <span class='publisher'>Shambhala</span>, <span class='datepublished'>2007</span>, page&nbsp;<span class='pages'>16</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/1590304756/portablewisdo-20' class='isbn'>1590304756</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2007</span> by <span class='rightsowner'>Ken Wilber</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/integral_approach' rel='tag'>Integral Approach</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              145
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
