<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Model II Values</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Model II Values</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Clearly, Model II touches on values that are central to social life and to the traditions of moral philosophy: freedom of choice, truth and testability, the nature of commitment, the possibilities for and limitations on openness in communication among individuals, the basis for trust and cooperation among human beings, the sources of long-term personal effectiveness. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/chris_argyris_and_donald_schn.html">
                  Chris Argyris and Donald Schön
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Theory in Practice: Increasing Personal Effectiveness</cite>, <span class='city'>San Francisco</span>: <span class='publisher'>Jossey-Bass Publishers</span>, <span class='datepublished'>1974</span>, page&nbsp;<span class='pages'>xxiv</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/1555424465/portablewisdo-20' class='isbn'>1555424465</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>1974</span> by <span class='rightsowner'>John Wiley & Sons, Inc.</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/values' rel='tag'>Values</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              143
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
