<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Paper Mill</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Paper Mill</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> If you keep probing, and ask &#8216;Precisely what is in the document? What is it for? Who uses it to make which decisions?&#8217; then you discover that people do not know why. They are producing the document because it is the next thing to do. </p> <p> If you recognize this behavior on your project, you may be working in a paper mill. </p> <p> In a paper mill, every activity is marked by the production of a document, and progress is measured by how many of the documents have been produced&#8212;not by what the documents contain. The paper mill principle says: Just in case anyone needs anything, let's give everbody everything. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/demarco_tom_hruschka_peter_lister_tim_mcmenamin_steve_robertson_james_and_suzanne_robertson.html">
                  DeMarco, Tom, Hruschka, Peter, Lister, Tim, McMenamin, Steve, Robertson, James and Suzanne Robertson
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Adrenaline Junkies and Template Zombies: Understanding Patterns of Project Behavior</cite>, <span class='city'>New York</span>: <span class='publisher'>Dorset House Publishing</span>, <span class='datepublished'>2008</span>, page&nbsp;<span class='pages'>217</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0932633676/portablewisdo-20' class='isbn'>0932633676</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2008</span> by <span class='rightsowner'>Authors</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/software_development' rel='tag'>Software Development</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              169
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
