<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Dylan at Newport in 1965</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Dylan at Newport in 1965</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> There are many accounts of what happened next. Dylan left the stage with a shrug as the crowd roared. Having heard only three songs, they wanted &#8216;moooooooooore&#8217;, and some, certainly, were booing. They had been taken by surprise by the volume and aggression of the music. Some loved it, some hated it, most were amazed, astonished and energized by it. It was something we take for granted now, but utterly novel then: non-linear lyrics, an attitude of total contempt for expectation and established values, accompanied by screaming blues guitar and a powerful rhythm section, played at ear-splitting volume by young kids. The Beatles were still singing love songs in 1965 while the Stones played a sexy brand of blues-rooted pop. This was different. This was the Birth of Rock. So many taste crimes have been committed in rock's name since then that it might be questionable to count this moment as a triumph, but it certainly felt like one in July 1965. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/joe_boyd.html">
                  Joe Boyd
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>White Bicycles: Making Music in the 1960s</cite>, <span class='city'>London</span>: <span class='publisher'>Serpent’s Tail</span>, <span class='datepublished'>2006</span>, page&nbsp;<span class='pages'>105</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/1852429100/portablewisdo-20' class='isbn'>1852429100</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2006</span> by <span class='rightsowner'>Joe Boyd</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/music-rock' rel='tag'>Music.Rock</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              165
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
