<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Counter-Culture’s own values and aesthetics decayed</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Counter-Culture’s own values and aesthetics decayed</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Beneath the surface, the progressive sixties hid all manner of unpleasantness: sexism, reaction, racism and factionalism. It wasn't surprising, really. The idea that drugs, sex and music could transform the world was always a pretty naïve dream. As the counter-culture's effect on the mainstream grew, its own values and aesthetics decayed. The political setbacks of the coming years grabbed the headlines while the dilution of ideals happened more quietly, but nonetheless vividly for those who noticed. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/joe_boyd.html">
                  Joe Boyd
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>White Bicycles: Making Music in the 1960s</cite>, <span class='city'>London</span>: <span class='publisher'>Serpent’s Tail</span>, <span class='datepublished'>2006</span>, page&nbsp;<span class='pages'>164</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/1852429100/portablewisdo-20' class='isbn'>1852429100</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2006</span> by <span class='rightsowner'>Joe Boyd</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/music-rock' rel='tag'>Music.Rock</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              164
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
