<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>South-East London adaption of the Excello style</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>South-East London adaption of the Excello style</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> I read an interview with Keith Richards once explaining how he and Mick Jagger had a single blues record between them when they met. It was one I knew well: a Stateside four-track EP licensed from the Excello label, with Slim Harpo on one side and Lazy Lester on the other. They played it until it was so worn they could barely hear the music through the scratches. One way of looking at the Stones&#8217; sound is as a South-East London adaptation of the Excello style. If they had owned more records, their music might have been less distinctive. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/joe_boyd.html">
                  Joe Boyd
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>White Bicycles: Making Music in the 1960s</cite>, <span class='city'>London</span>: <span class='publisher'>Serpent’s Tail</span>, <span class='datepublished'>2006</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/1852429100/portablewisdo-20' class='isbn'>1852429100</a>
          </p>
          <p class="rightsline">
            <span class='rights'>Copyright</span> &copy; <span class='datepublished'>2006</span> by <span class='rightsowner'>Joe Boyd</span>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/music-rock' rel='tag'>Music.Rock</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              166
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
