<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Freedom of Judgment</title>
    <link rel="stylesheet" href="../styles.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <ul>
          <li><a href="../authors/index.html">
            Authors
            </a></li>
          <li><a href="../wisdom/random.html">
            Random
            </a></li>
        </ul>
      </div>
      <div id="header">
        <h1>Freedom of Judgment</h1>
      </div>
      <div id="content">
        <div class="wisdom">
          <blockquote>
            <p> Since we have the rare good fortune to live in a commonwealth where the freedom of judgment is fully granted to the individual citizen and he may worship God as he pleases, and where nothing is esteemed dearer and more precious than freedom, I think I am undertaking no ungrateful or unprofitable task in demonstrating that not only can this freedom be granted without endangering piety and the peace of the commonwealth, but also the peace of the commonwealth and piety depend on this freedom. </p>
          </blockquote>
          <p class="byline">
            &mdash;
              <span class="authors">
                <a href="../authors/baruch_spinoza.html">
                  Baruch Spinoza
                </a>
              </span>
          </p>
          <p class="sourceline">
            From the <span class='sourcetype'>Book</span> <cite class='majortitle'>Tractatus Theologico-Politicus</cite>, <span class='datepublished'>1670</span>, ISBN&nbsp;<a href='http://www.amazon.com/exec/obidos/ASIN/0393058980/portablewisdo-20' class='isbn'>0393058980</a>
          </p>
          <p class="tagsline">
            Tags: <i><a href='../tags/freedom' rel='tag'>Freedom</a></i>
          </p>
          <p class="itemidline">
            No.
            <span class="itemid">
              193
            </span>
          </p>
        </div>
      </div> <!-- end content -->
    </div> <!-- end container -->
  </body>
</html>
